<div class="container">
  <div class="action-buttons">
    <button  type="back" (click)="onBackButton()">Retour</button>
</div>
    <h2>Créer un nouveau compte courant</h2>
    <form [formGroup]="compteCourantCreateForm" (ngSubmit)="addCompteCourant(compteCourantCreateForm)">
      <div class="form-group">
        <label for="numerodecompte">Numéro de Compte</label>
        <input type="text" id="numerodecompte" formControlName="numerodecompte" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="overDraft">Découvert autorisé</label>
        <input type="number" id="overDraft" formControlName="overDraft" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="card">Carte</label>
        <input type="text" id="card" formControlName="card" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="solde">Solde</label>
        <input type="number" id="solde" formControlName="solde" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="createdat">Date de Création</label>
        <input type="text" id="createdat" formControlName="createdat" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Créer Compte Courant</button>
    </form>
  </div>

  <!-- Message de confirmation -->
<div class="confirmation-modal" *ngIf="infoCreated">
  <div class="modal-dialog">
    <div class="modal-body">
      Le compte courant a bien été créé.
    </div>
    <div class="modal-footer">
      <button class="btn-secondary" [routerLink]="'/navbar'">Suivant</button>
    </div>
  </div>
</div>
  <!-- Message d'erreur -->
<div class="confirmation-modal" *ngIf="errorCreated">
  <div class="modal-dialog">
    <div class="modal-body">
      Un problème est survenu lors de la création du compte.
    </div>
    <div class="modal-footer">
      <button class="btn-secondary" [routerLink]="'/navbar'">Suivant</button>
    </div>
  </div>
</div>
  
