*
.navbar {
    background-color: #03203d; 
    text-align: center;
    padding: 10px;
  }

  .navbar button {
    background-color: transparent; 
    color: #fff; 
    border: none; 
    margin: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    text-transform: uppercase;
  }

#fonctionnalBar {
    display: grid; 
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px; 
  }
  
  .add-button {
    grid-column: 3; 
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }
  