/* Ajoutez ces styles à votre fichier CSS pour styliser le formulaire */

/* Style général du formulaire */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5; /* Couleur de fond */
  padding: 20px;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style des étiquettes */
label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

/* Style des champs de saisie */
input[type="mail"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style du bouton de soumission */
button[type="submit"] {
  background-color: #007bff; /* Couleur de fond bleue */
  color: white; /* Couleur du texte blanc */
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition de couleur au survol */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Nouvelle couleur au survol */
}

/* Style du message de connexion non valide */
.login-message {
  background-color: #ff5555; /* Couleur de fond rouge */
  color: white; /* Couleur du texte blanc */
  padding: 10px; /* Espace autour du texte */
  border-radius: 5px; /* Coins arrondis */
  margin-top: 10px; /* Espacement depuis le formulaire */
  text-align: center; /* Centrer le texte horizontalement */
  display: none; /* Masquer par défaut */
}

.login-message.show {
  display: block; /* Afficher lorsque la classe "show" est ajoutée */
}
