/* Styles de base de la navbar */
.navbar button {
  background-color: transparent;
  color: #fff;
  border: none;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

/* Mise en forme de la section principale */
#fonctionnalBar {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.searchArea {
  grid-column: 1;
  display: flex;
  background-color: lightgoldenrodyellow;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-color: #03203d;
  border-radius: 5px;
}

label {
  margin: 10px;
}

label input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  grid-column: 2;
  display: flex;
  background-color: aquamarine;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-color: #03203d;
  border-radius: 5px;
}

.addClient {
  grid-column: 3;
  background-color: #4caf50;
  border-radius: 5px;
  width: 70%;
  height: auto;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.update-button {
  background-color: #FDCC92;
  border-radius: 5px;
  color: black;
  width: 150px;
  height: fit-content ;
  margin: 5px;
  padding: 5px;
}

.delete-button {
  background-color: red;
  border-radius: 5px;
  color: black;
  width: 150px;
  height: fit-content;
  margin: 5px;
  padding: 5px;
}

/* Mise en forme de la liste de clients */
.view-list-of-clients {
  border: 1px solid #ddd;
  border-radius: 10px;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.one-client-li {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #03203d; 
  border-radius: 10px;
  height: auto;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}

ul{
  margin: 2px;
  padding: none;
  align-items: center;
  justify-content: center;
;
}

.compte-list-client-grid {
  grid-column: 2;
  grid-row: 1 / span 2; 
}

.client-info {
  grid-column: 1;
  grid-row: 1 / span 2; 
}

.button-list-client-grid {
  grid-column: 3;
  grid-row: 1 / span 2; 
}


/* Styles pour lister les clients*/
.grid-liste-clients{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr;
}

.libelle-client{
    display: grid;
    grid-template-columns: repeat(10, 120px);
    grid-template-rows: 15px;
    grid-column: 1;
    grid-row: 1;
}
