

  .navbar button {
    background-color: transparent; 
    color: #fff; 
    border: none; 
    margin: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
    text-transform: uppercase;
  }

#fonctionnalBar {

    display: grid; 
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px; 
    align-items: center; 
  justify-content: center; 
  }
  .searchArea{
    grid-column: 1;
    display: flex;
    background-color: yellow; 
    height: 100%;
    align-items: center; 
  justify-content: center; 
  border-color: #03203d;
  border-radius: 5px;
  }
  label{
    margin: 10px;
  }

   label input{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
  }
  .filter{
    grid-column: 2;
    display: flex;
    background-color:aquamarine; 
    height: 100%;
    align-items: center; 
  justify-content: center; 
  border-color: #03203d;
  border-radius: 5px;
  }

  .addClient {
    grid-column: 3; 
    background-color: #4caf50;
    width: 70%;
    height: auto;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }
.update-button{
  background-color:#FDCC92;
    color:white;
}
  .delete-button{
    background-color: red;
    color:white;
  }

  .one-client-li{
    display: grid; 
    grid-template-columns: 2fr 3fr 1fr;
    border-radius: 10px;
    height: auto;
    border-color: #03203d;
    border: 1px solid black;
    grid-gap: 10px; 
    align-items: center; 
  justify-content: center;
  padding: 10px;
  margin: 20px;
  }

  .view-list-of-clients{
    border: 1px solid #ddd;
    border-radius: 10px;
    grid-gap: 20px; 
    align-items: center; 
  justify-content: center;
  border: 1px solid black;
    
  }