<div><h2>Liste des clients</h2></div>
<section id="fonctionnalBar">
  <form #name="ngForm" class="searchArea">
    <input type="text" name="lastname" placeholder="Veuillez rentrer un nom" ngModel required>
    <button type="submit" (click)="getClientByName(name)">Rechercher</button>
  </form>
  <div class="filter">
    <label> 
      <p>Ordre croissant</p>
      <input type="radio" name="filter" (click)="searchByOrder('croissant')">
    </label>
    <label>
      <p>Ordre décroissant</p>
      <input type="radio" name="filter" (click)="searchByOrder('decroissant')">
    </label>  
  </div>
  <div><button class="addClient" [routerLink]="'add'" (click)="onAddNewClient()">Ajouter un nouveau client</button></div> 
</section>

  <ul>
    <li class="one-client-li" *ngFor="let client of clients">
    <div class="grid-liste-clients">
      <div class="libelle-client">
        <h4 class="Libid">Identifiant</h4> 
        <h4 class="Liblastname">Nom</h4>
        <h4 class="Libfirstname">Prénom</h4>
        <h4 class="Libaddress">Adresse</h4> 
        <h4 class="Libcity">Ville</h4>
        <h4 class="Libzipcode">Code Postal</h4>
        <h4 class="LibphoneNumber">Numéro</h4>
      </div>
      <article class="gridclient">
      <div class="client-id">{{ client.id }}</div>
      <div class="client-lastname">{{ client.lastname }}</div>
      <div class="client-firstname">{{ client.firstname }}</div>
      <div class="client-address">{{ client.address }}</div>
      <div class="client-city">{{ client.city }}</div>
      <div class="client-zipcode">{{ client.zipcode }}</div>
      <div class="client-phoneNumber">{{ client.phoneNumber }}</div>
      <div class="view-compte-button"><button (click)="onViewCompteClient(client.id)">Voir les comptes</button></div>
      <div class="update-button"><button (click)="onUpdateClient(client.id)">Modifier les informations du client</button></div>
      <div class="delete-button"><button (click)="deleteClient(client)">Supprimer le client</button></div>
    </article>
    </div>
    </li>
    <div class="delete-success-message" *ngIf="clientDeleted">Client supprimé avec succès.</div>
    <div class="delete-refused-message" *ngIf="soldeDifferentOf0">Les comptes bancaires du client ne sont pas vides.</div>
  </ul>


<!-- Confirmation de suppression -->
<div class="confirmation-modal" *ngIf="showDeleteConfirmation">
  <div class="modal-dialog">
    <h3 class="modal-title">Confirmer la suppression</h3>
    <div class="modal-body">
      Êtes-vous sûr de vouloir supprimer ce client ?
    </div>
    <div class="modal-footer">
      <button class="btn-secondary" (click)="cancelDelete()">Annuler</button>
      <button class="btn-danger" (click)="confirmDeleteClient()">Supprimer</button>
    </div>
  </div>
</div>
