<div><h2> Liste des clients</h2></div>
<section id="fonctionnalBar">
  <form #name="ngForm">
    <input type="text" name="lastname" placeholder="veuillez rentrer un nom" ngModel required>
    <button type="submit" (click)="getClientByName(name)">rechercher</button>
  </form>
  <div class="filter">
    <label> 
      <p>Ordre croissant</p>
      <input type="radio" name="filter" (click)="searchByOrder('croissant')">
    </label>
    <label>
      <p>Ordre décroissant</p>
      <input type="radio" name="filter" (click)="searchByOrder('decroissant')">
    </label>  
  </div>
  <div><button class="addClient" [routerLink]="'add'" (click)="onAddNewClient()">Ajouter un nouveau client </button> </div> 
</section>
<div>
  <div>
    <ul>
      <li *ngFor="let client of clients">
        {{ client.lastname }}, {{ client.firstname }}
        <button>Modifier les informations du client</button>
        <button>Supprimer le client</button>
        <button (click)="onViewCompteClient()">Voir les comptes</button>
      </li>
    </ul>
  </div>